{% extends 'inicio.html' %}
{% block content %}
<!--<div></div>-->
<!-- From Uiverse.io by ammarsaa -->
<div class="div_pai_cadastrar_pessoa">
<form class="form" method="post" action="{{ url_for('cadastrar_pessoas') }}" >
    <p class="title">Register </p>
    <p class="message">Cadastrar Funcionario </p>
        <div class="flex">
        <label>
            <input name="Nome" class="inputt" type="text" placeholder="" required="">
            <span>Nome</span>
        </label>

        <label>
            <input name="CPF" class="inputt" type="text" placeholder="" required="">
            <span>CPF</span>
        </label>
    </div>

    <label>
        <input name="Email" class="inputt" type="email" placeholder="" required="">
        <span>Email</span>
    </label>

    <label>
        <input name="Senha" class="inputt" type="password" placeholder="" required="">
        <span>Senha</span>
    </label>
    <label>
        <input name="Cargo" class="inputt" type="password" placeholder="" required="">
        <span>Cargo</span>
    </label>

    <label>
        <input name="Salario" class="inputt" type="number" placeholder="" required="">
        <span>Salário</span>
    </label>
    <button class="submit">Cadastrar</button>
    <p class="signin">Já tem uma conta <a href="{{url_for('cadastrar_pessoas')}}">Logar</a> </p>
</form>
</div>
{% endblock %}