{% extends 'inicio.html' %}
{% block content %}

<div class="div_pai_cadastrar_pessoa">
    <form class="form"
          method="post"
          action="{{ url_for('editar_insumo', id_insumo=insumo['id_insumo']) }}">

       <p class="title">Editar</p>
        <p class="message">Editar Insumo</p>

        <label>
            <span>Nome do Insumo</span>
            <input type="text" name="nome_insumo"
                   value="{{ insumo['nome_insumo'] }}" required>
        </label>

        <label>
            <span>Categoria</span>
            <select name="categoria_id" required>
                <option value="">Selecione</option>
                {% for c in categorias %}
                    <option value="{{ c['id_categoria'] }}"
                        {% if c['id_categoria'] == insumo['categoria_id'] %}selected{% endif %}>
                        {{ c['nome_categoria'] }}
                    </option>
                {% endfor %}
            </select>
        </label>

        <button class="submit">Salvar</button>
        <a href="{{ url_for('insumos') }}">Cancelar</a>

    </form>
</div>

{% endblock %}
