{% extends 'inicio.html' %}
{% block content %}

<main class="entradas-container">

    <!-- HEADER -->
    <div class="entradas-header">
        <h2>Entradas</h2>

        <a href="{{ url_for('cadastrar_entradas') }}" class="btn-cadastrar">
            + Cadastrar Entrada
        </a>
    </div>

    {% if not valor_ %}

        <!-- ÁREA COM SCROLL -->
        <div class="cards-scroll">
            <div class="cards-grid">
                {% for e in entradas %}
                    <div class="card">
                        <h1>#{{ e['id_entrada'] }}</h1>
                        <h2>{{ e['data_entrada'] }}</h2>

                        <p><strong>Qtd:</strong> {{ e['qtd_entrada'] }}</p>
                        <p><strong>Valor:</strong> R$ {{ e['valor_entrada'] }}</p>
                        <p><strong>Insumo:</strong> {{ e['insumo_id'] }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}

        <div class="tabela-scroll">
            <table class="tabela">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DATA</th>
                        <th>QUANTIDADE</th>
                        <th>VALOR</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in entradas %}
                    <tr>
                        <td>#{{ e['id_entrada'] }}</td>
                        <td>{{ e['data_entrada'] }}</td>
                        <td>{{ e['qtd_entrada'] }}</td>
                        <td>R$ {{ e['valor_entrada'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

</main>
{% endblock %}
