{% extends 'inicio.html' %}

{% block content %}
<main id="fundo_da_main">
    <div>


        <div class="div_pai_cadastrar_pessoa">
            <form class="form" action="{{url_for('login')}}" method="POST">
                <p class="title">Logar </p>
                <p class="message">Realizar login </p>
                <div class="flex" style="flex-direction: column">
                    <label>
                        <input name="email" class="inputt" type="text" placeholder="" required="">
                        <span>email</span>
                    </label>
                    <label>
                        <input name="senha" class="inputt" type="text" placeholder="" required="">
                        <span>Senha</span>
                    </label>
                </div>


                <p></p>
                <button class="animated-button">Logar</button>
                <!--                <button class="submit">Logar</button>-->

            </form>
        </div>
        <!--        <div id="card">-->
        <!--            <form id="form" action="{{url_for('login')}}" method="POST">-->
        <!--                <label style="color: gold; text-shadow: black 3px 3px 3px" for="email">E-mail</label>-->
        <!--                <input class="input" type="text" name="email" id="email">-->
        <!--                <label style="color: gold; text-shadow: black 3px 3px 3px" for="senha">Senha</label>-->
        <!--                <input class="input" type="password" name="senha" id="senha">-->
        <!--                <label for="lembrar"></label>-->
        <!--                <input type="checkbox" name="lembrar" id="lembrar">-->

        <!--                &lt;!&ndash;                <input class="buton_enviar_login" type="submit" value="Entrar">&ndash;&gt;-->
        <!--                &lt;!&ndash; From Uiverse.io by gharsh11032000 &ndash;&gt;-->
        <button class="animated-button">
            <span>Logar</span>
            <span></span>
        </button>


        <!--                <p style="color: gold; text-shadow: black 3px 3px 3px" id="txt">Não tem uma conta? <a-->
        <!--                        style="color: gold; text-decoration: none; text-shadow: black 3px 3px 3px"-->
        <!--                        href="{{url_for('cadastrar_pessoas')}}">Cadastrar</a></p>-->
        <!--            </form>-->

        <!--        </div>-->

    </div>
</main>
{% endblock %}