{% extends 'inicio.html' %}

{% block content %}

<main class="">

    <!-- ================= BARRA DE AÇÕES ================= -->
    <div style="display:flex;flex-wrap:wrap;gap:15px;margin-bottom:30px;">
        <a href="{{ url_for('cadastrar_pessoas') }}"
           class="btn-cadastrar">➕ Cadastrar Funcionário</a>


        <a href="{{ url_for('vendas_hoje_por_funcionario') }}"
           class="btn-cadastrar">📊 Vendas de Hoje</a>
    </div>

    <!-- ================= GARÇONS ================= -->
    <section style="width:100%;">
        <h2 style="color:white;margin-bottom:20px;">🍽 Garçons</h2>

        <div style="display:flex;flex-wrap:wrap;gap:20px;">
            {% for p in pessoas %}
            {% if p['papel'] == 'garcom' %}
            <div class="card-garcom {% if p['status_pessoa'] == 'Inativo' %}inativo{% endif %}"
                 data-id_pessoa="{{ p['id_pessoa'] }}">


                <div class="card-header">
                    <div class="avatar">{{ p['nome_pessoa'][:1] }}</div>
                    <div class="info">
                        <div class="nome">{{ p['nome_pessoa'] }}</div>
                        <div class="cargo">Garçom</div>
                        <div class="cargo"> {{p ['status_pessoa']}}</div>

                    </div>

                </div>

                <a href="{{ url_for('editar_pessoa', id_pessoa=p['id_pessoa']) }}" class="btn-editar">Editar</a>


            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <!-- ================= COZINHA ================= -->
    <section style="width:100%;margin-top:40px;">
        <h2 style="color:white;margin-bottom:20px;">👨‍🍳 Cozinha</h2>

        <div style="display:flex;flex-wrap:wrap;gap:20px;">
            {% for p in pessoas %}
            {% if p['papel'] == 'cozinha' %}
            <div class="card-cozinha {% if p['status_pessoa'] == 'inativo' %} inativo{% endif %}">
                <div class="card-header">
                    <div class="avatar cozinha-avatar">{{ p['nome_pessoa'][:1] }}</div>
                    <div class="info">
                        <div class="nome">{{ p['nome_pessoa'] }}</div>
                        <div class="cargo">Cozinha</div>

                    </div>
                    <a href="{{ url_for('editar_pessoa', id_pessoa=p['id_pessoa']) }}" class="btn-editar">Editar</a>


                </div>
            </div>

            {% endif %}

            {% endfor %}
        </div>
    </section>

</main>

{% endblock %}
